.Rproj.user
.Rhistory
.RData
.Ruserdata
prodigy.Rproj


# Folder
PDF_folder/*
pdfRetrieve/*
output_folder/*

# Script
R/extra/*

# quarto
quarto/images/


# Cache
cache/*

# Queries
queries.log

# config file
config.ini